
:root {


}


body{
	padding: 16px 16px; /* var(--font-size); */
	margin: 0 !important;
	height: 100vh; /* 전체 높이를 화면에 맞춤 */
	width: 100vw;

	background-color: var(--bg-color);
	color: var(--primary);
	font-size: var(--h1-size); 
	font-family: var(--h1-font);

	/* border: 10px solid RED; */
}

a{
	margin: 0 !important;
	top: var(--font-size); 
	left: var(--font-size);
}
main{
	width: var(--100vw-padding);
}

h1{
	margin: 24px 0 !important;
	font-size: var(--h1-size);
	
}

img{
	width: calc(100vw - 32px);
}

.rgb{
	border-radius: 22222px;
	background-color: var(--primary);
/* 외않되?
	width: 48px;
	height: 48px; */

	font-family: var(--p-font);
	font-size: 20px;
	color: white;

	padding: 12px 16px;
	margin-right: 4px;
}


.tag{
	border: var(--primary) 2px solid;
	border-radius: 22222px;

	font-family: var(--p-font);
	font-size: 16px !important;
	text-transform: lowercase;

	padding: 8px 16px;
	margin-right: 4px;
}

span{
	font-family: var(--p-font);
	font-size: 20px;
	margin-right: 8px;
}

p{
	padding: 0 0 24px 0 ;
}

.whitebox{
	background-color: var(--white);
	border: 2px var(--primary) solid;
}
.sock_illustration{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.sock_profile{
	 
}
.description{
	padding: 16px;
	width: calc(100vw - 64px);

	background-color: white;

	color: var(--primary);
	font-family: var(--p-font);
	font-size: 16px; /* var(--font-size); */
	line-height: var(--p-height);
}