
:root {


}


body{
	margin: 0 !important;
	background-color: var(--bg-color);
	color: var(--primary);
	font-size: var(--h1-size); 
	font-family: var(--h1-font);

	/* border: 10px solid RED; */
}

a{
	margin: 0 !important;
	top: var(--font-size); 
	left: var(--font-size);
}
main{
	/* width: var(--100vw-padding); 이거 없는디
	padding: 16px 16px; */

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	
}
section{
	max-width: 360px;
	padding-top:48px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon_img{
	width: 75px;
}

h1{
	margin: 24px 0 !important;
	font-size: var(--h1-size);
	
}

img{
	width: var(--result-content-size)
}

.rgb{
	border-radius: 22222px;
	background-color: var(--primary);
/* 외않되?
	width: 48px;
	height: 48px; */

	font-family: var(--p-font);
	font-size: 20px;
	color: white;

	padding: 12px 16px;
}


.tag{
	border: var(--primary) 2px solid;
	border-radius: 22222px;

	font-family: var(--p-font);
	font-size: 16px !important;
	text-transform: lowercase;

	padding: 8px 16px;
}

span{
	font-family: var(--p-font);
	font-size: 20px;
}

p{
	padding: 0 0 24px 0 ;
}

.whitebox{
	background-color: var(--white);
	border: 2px var(--primary) solid;
	width: var(--result-content-size);
}

.sock_illustration{
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px;
	margin-bottom: 16px;

}
.sock_profile{
	margin-bottom: 16px;
	padding: 16px;

}

.color-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 16px;
}

.tag-container {
	display: flex;
	justify-content: center;
	gap: 8px;
}s

.description{
	padding: 16px;
	width: calc(100vw - 64px);

	background-color: white;

	color: var(--primary);
	font-family: var(--p-font);
	font-size: 16px; /* var(--font-size); */
	line-height: var(--p-height);
}

.btn {
	position: static;
	width: calc(100% - 41px);
	text-align: center;
}

#gradient {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	display: block;
	background: white;
}

@media (min-width: 768px) {

	#gradient {
		display: none;
	}

}