
:root {

	/* FONT SIZE */
	--font-size: 16px;
	--h1-size: calc(var(--font-size) * 6.5); 
	--h2-size: calc(var(--font-size) * 1.3); 
	--btn-size: 20px;

	/* FONT STYLE */
  --h1-font: "Oswald", sans-serif;
	--h2-font: "Oswald", sans-serif;
  --p-font: "Inter", sans-serif;

	/* LINE HEIGHT */
	--h1-height: 100%;
	--p-height: 150%;

	/* SPACING */
	--spacing: 1em;
	--p-spacing: -0.4px;

	/* COLOR */
	--primary: #4142F4;
	--secondary: #B47230;
	--bg-color: #E9DFCF;
	--black: #211F1B;

}



p{
	color: red;
}

body{
	padding: 16px 16px; /* var(--font-size); */
	margin: 0 !important;
	height: 100vh; /* 전체 높이를 화면에 맞춤 */
	width: 100vw;

	background-color: var(--bg-color);
	color: var(--primary);
	font-size: var(--h1-size); 
	font-family: var(--h1-font);

	/* border: 10px solid RED; */
}

img{
	width: 200px;
}

.rgb{
	border: var(--primary) 1px solid;
	border-radius: 22222px;

	width: 48px;
	height: 48px;
	font-family: var(--font-size);
	font-size: 20px

}