
:root {

	/* FONT SIZE */
	--font-size: 16px !important;
	--h1-size: calc(var(--font-size) * 4.5); 
	--h2-size: calc(var(--font-size) * 1.5); 
	--h3-size: 20px;
	--btn-size: 20px;

	/* FONT STYLE */
  --h1-font: "Oswald", sans-serif;
	--h2-font: "Oswald", sans-serif;
  --h3-font: "Inter", sans-serif;
	--p-font: "Inter", sans-serif;


	/* FONT WEIGHT */
	--h1-weight: 400;
	--h2-weight: 300;
	--h2-weight: 300;


	/* LINE HEIGHT */
	--h1-height: 100%;
	--h3-height: 150%;
	--p-height: 160%;

	/* SPACING */
	--spacing: 1em;
	--p-spacing: -0.4px;

	/* COLOR */
	--primary: #4142F4;
	--secondary: #B47230;
	--bg-color: #E9DFCF;
	--black: #211F1B;
	--white: white;

	/* PADDING */
 
	/* ETC */
	--result-content-size: 358px;
}


/* LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE */

canvas #canvasElement{
	display:none;
}

.sock-mask {
	width: 100%;
	height: 100%;
	/* background: transparent;
	-webkit-mask-image: url('content/sock_image.svg');
	mask-image: url('content/sock_image.svg');
	mask-mode: alpha;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain; */
	clip-path: url(#sock-svg);
}

.page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s;
}


/* PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 PAGE1 */

#page1_mobile {
	z-index: 2; 
	transform: scale(350);
	font-size: 125px;

}

/* for flexbox */
#page1-content_mobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 16px 16px 128px;
}

#left-text_mobile {
	z-index: 4;
	display: flex;
	flex-direction: column;
}

#less-title {
	align-self: flex-end;
}

#right-text_mobile {
	z-index: 4;
	display: flex;
	flex-direction: column;

}

.left-title {
	align-self: flex-end;
	text-align: right;
}

#page-title_mobile {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

/* 마지막에 나오는 양말 한 짝 */
#mainSockImg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: scale(.7);
	z-index: 10000;
	transition: transform 2s;
}

/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */






/* PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 PAGE2 */
#page2_mobile {
	z-index: 1; 
	transform: scale(2.5); 
	background-color: #E9DFCF;

}

#upper-bar {
	background-color: var(--secondary);
	width: 100%;
	flex-grow: 1;
}

#lower-bar {
	background-color: var(--secondary);
	width: 100%;
	flex-grow: 1;

}

/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */

#page2_desktop {
	z-index: 1; 
	transform: scale(2.5); 
	background-color: #E9DFCF;
}

/* 버튼 모두에 적용 */
.btn {
	text-transform: uppercase;
	font-size: var(--btn-size);
	font-family: var(--p-font);
	white-space: nowrap;

	border-radius: 22222px;
	padding: 12px 20px;
	width: fit-content;
	height: fit-content;
	/* 정확히 중앙에 오도록 조정 */


	cursor: pointer;
	transition: all 0.3s;
	z-index: 1000;

	color: var(--white);/* 텍스트 컬러 */
	background-color: transparent; /* 배경색 투명 */
  border: 2px solid var(--white);
	border-radius: 22222px;

}

.btn_center{
	position: fixed;
	left: 50%; 
	transform: translateX(-50%); 
	bottom: 40px;

}

/*  ??? - upload페이지에는 안먹힘  */
button:hover {
  background-color: rgb(81, 0, 255);
	color: var(--white);
}

/* 확인해서 지울거지워야함 */


/* aside { margin-bottom: calc(4 * var(--spacing)); } */



/* Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph */

h1 { 
	font-family: var(--h1-font);
	font-weight: var(--h1-weight);
	text-transform: uppercase;
	line-height: var(--h1-height);
	color: var(--primary);

}



h2 { 
	font-family: var(--h2-font);
	font-weight: var(--h2-weight);
	font-size: var(--h2-size);
	color: var(--white);
	text-transform: uppercase;

}

h3 { 
	font-family: var(--h3-font);
	font-weight: var(--h3-weight);
	font-size: var(--h3-size);
	line-height: var(--h3-height);
	color: var(--white);
	margin-bottom: 24px;
}

p{
	font-size: var(--font-size);
	font-family: var(--p-font);
	line-height: var(--p-height);
	letter-spacing: var(--p-spacing);

	color: var(--primary);

	/* padding: 0 0 40px 0 ; */
}

.faded { opacity: 0.333 }


@media (min-width: 768px) {
	#desktop {
		display: block;
	}
	#mobile{
		display: none;
	}


	#page1_desktop {
		z-index: 2; 
		transform: scale(350); 
		flex-direction: column;	
		font-size: 125px;
		/* max-width: 70vw;
		margin-left: auto;
		margin-right: auto; */
	}
	
	#page1-content_desktop {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	
	#left-area {
		width: calc(100% / 3);
		background-color: var(--secondary);
		display: flex;
		justify-content: flex-end;
	}

	#left-text_desktop{
		background-color: var(--secondary);
		width: 100%;
		max-width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 40px 16px;
	}
	
	#page-title_desktop {
		width: calc(100% / 3);
		min-width: 33vw;
	}
	
	#right-area {
		width: calc(100% / 3);
		background-color: var(--secondary);
	}

	#right-text_desktop{
		background-color: var(--secondary);	
		width: 100%;

		max-width: 400px;

		justify-content: flex-end;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 40px 16px;
	}

	.btn {
		text-transform: uppercase;
		font-size: var(--btn-size);
		font-family: var(--p-font);
		white-space: nowrap;
		border-radius: 22222px;
		padding: 16px 24px;
		width: fit-content;

		cursor: pointer;
		transition: all 0.3s;
		z-index: 1000;
		
		color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 22222px;
	}


	#nextPageButton_desktop {
		position: static;
		transform: none;
	}



	element.style {
		display: block;
	}

	
}
/* Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');




/* TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM */
/* body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
} */	
/* 
a { color: blue; }

em { font-style: italic }

ul {
	display: grid;
	gap: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
} */
