
:root {

	/* FONT SIZE */
	--font-size: 16px !important;
	--h1-size: calc(var(--font-size) * 4.5); 
	--h2-size: calc(var(--font-size) * 1.3); 
	--btn-size: 20px;

	/* FONT STYLE */
  --h1-font: "Oswald", sans-serif;
	--h2-font: "Oswald", sans-serif;
  --p-font: "Inter", sans-serif;

	/* LINE HEIGHT */
	--h1-height: 100%;
	--p-height: 150%;

	/* SPACING */
	--spacing: 1em;
	--p-spacing: -0.4px;

	/* COLOR */
	--primary: #4142F4;
	--secondary: #B47230;
	--bg-color: #E9DFCF;
	--black: #211F1B;

}


/* LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE */

canvas #canvasElement{
	display:none;
}

.sock-mask {
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-mask-image: url('content/sock_image.svg');
	mask-image: url('content/sock_image.svg');
	mask-mode: alpha;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: contain;
}

.page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.5s;
}
#page1 {
	z-index: 2; 
	transform: scale(15); 
	
}
#page2 {
	z-index: 1; 
	transform: scale(2); 
	background-color: #E9DFCF;

}

/* 버튼 모두에 적용 */
.btn {
	text-transform: uppercase;
	font-size: var(--btn-size);
	font-family: var(--p-font);
	white-space: nowrap;

	border-radius: 22222px;
	padding: 16px 24px;
	width: auto;
	
	/* 정확히 중앙에 오도록 조정 */
	left: 50%; 
	transform: translateX(-50%); 

	cursor: pointer;
	transition: all 0.3s;
	z-index: 1000;
}


/*  ??? - upload페이지에는 안먹힘  */
button:hover {
  background-color: rgb(81, 0, 255);
	color: white;
}

/* "match a sock" 버튼 */
.active {
	position: fixed;
	padding: 16px 24px;
	font-size: 20px;

	bottom: 40px;
	/* 가운데 정렬 관련 */
	left: 50%;
	transform: translateX(-50%);

	color: white; /* 텍스트 컬러 */
	background-color: transparent; /* 배경색 투명 */
  border: 2px solid white;
	border-radius: 22222px;
	
	/* 중복 확인 후 삭제 */
	/* cursor: pointer;
	transition: all 0.3s;
	z-index: 10; */
}

.active_submit {
	position: fixed;
	padding: 16px 24px;
	font-size: 20px;

	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);

	color: rgb(81, 0, 255); /* 텍스트 컬러 */
	background-color: transparent; /* 배경색 투명 */
  border: 2px solid rgb(81, 0, 255);
	border-radius: 22222px;
	
	cursor: pointer;
	transition: all 0.3s;
	z-index: 10;
}


/* aside { margin-bottom: calc(4 * var(--spacing)); } */



/* Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph Paragraph */

h1 { 
	font-size: var(--h1-size); 
	font-family: var(--h1-font);
	text-transform: uppercase;
	line-height: var(--h1-height);
	color: var(--primary);
}

h2 { font-weight: bold; }

p{
	font-size: var(--font-size);
	font-family: var(--p-font);
	line-height: var(--p-height);
	letter-spacing: var(--p-spacing);

	color: var(--primary);

	/* padding: 0 0 40px 0 ; */
}

.faded { opacity: 0.333 }


/* Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');




/* TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM TRASH CAM */
/* body {
	font-family: sans-serif;
	padding: var(--spacing);
	padding-bottom: 33vh;
} */	
/* 
a { color: blue; }

em { font-style: italic }

ul {
	display: grid;
	gap: calc(4 * var(--spacing));
}

li {
	display: grid;
	gap: var(--spacing);
} */
