
body {
	margin: 16px; /* var(--font-size); */
	padding: 0;
	height: 100vh; /* 전체 높이를 화면에 맞춤 */
	display: flex;
	flex-direction: column; /* 수직 스택 */
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
}

.content-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
}

.footer {
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
	margin-top: auto; /* 나머지 공간을 모두 차지하도록 설정 */
}


/* Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');
