

html{
	height: 100vh; /* 전체 높이를 화면에 맞춤 */
	width: 100vw;
	/* border: blue solid 10px; */

}

/* 이게 뭐죠? */
body {
	padding: 16px 16px 180px 16px; /* var(--font-size); */
	background:#E9DFCF;/* var(--bg-color); */
	overflow-x: hidden; /* 가로 스크롤 숨김 */

	/* height: 100vh;  */
	/* width: calc( 100vw - 32px); */

	/* display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	row-gap: calc(3 * var(--font-size));???? */

	/* justify-items: center; */ 

	/* display: flex; /* Flexbox 설정 */
	/* flex-direction: column; 요소들을 수직으로 정렬 */
	/* margin-top: auto; 나머지 공간을 모두 차지하도록 설정 */
	/* flex-direction: column; 내부 요/소를 세로로 정렬 */
  /* justify-content: space-between;  */
	/* 내부 요소 사이에 공간을 균등하게 배분 * */

	/* overflow-x: hidden; */

	/* border: red solid 10px; */

}

h1{
	font-size: var(--h1-size);
}

h3{
	color: var(--primary);
}
p{
	padding: 0 0 40px 0 ;
}


#guide_img{
	margin-bottom: 28px;
}

.content-container {
	display: flex;
	flex: 1;
	flex-direction: column;

	position: static; /* 위치 고정 */
	/* 
	height: 100vh; */
	/* bottom: 20px; 하단에서 20px 위에 위치 */
}

section{
	display: flex;
	flex-direction: column; /* Stack children vertically */
	align-items: center; /* Align children center horizontally */
	justify-content: center; /* Center content vertically within each section */
	width: 100%; /* Example width */
	height: 90vh; /* Full height of the container */
	text-align: center; /* Center text */
}
.header, .guide {
	flex-shrink: 0; /* 축소되지 않도록 설정 */
	width: 100%; /* 전체 너비 */
}

.header {
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
	flex-grow: 1;

	margin-bottom: 40px;
}

.guide {
	/* position: fixed;   */
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
	align-self: flex-end;
	flex-grow: 1;
}


.confirmation{
	display:none;
	padding-top: 40px;
	padding-bottom: 8px;
}

/* Choose a pic 버튼 */
.custom-file-input {
  display: inline-block;
	position: fixed;
	bottom: 40px;
}

.spinner {
	border: 4px solid var(--bg-color);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border-left-color: var(--primary);
	animation: spin 1s infinite linear;
}

/* image preview */
#preview {
	display: none; /* 초기에 숨겨진 상태 */
	border: 1px solid var(--primary); 
	margin-bottom: 120px;
	/* width: auto; 너비 자동 조절 */
	/* height: 100px; 높이 설정 */
	/* margin: auto; 상단 마진과 자동 좌우 마진 */
	/* box-shadow: 0 2px 4px var(--primary); */
}

#myForm {
	position: relative;
}



.active_submit {

}

#loadingSpinner {
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: white;
	padding: 10px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}


@media (min-width: 768px) {
	.content-container {
		flex-direction: row;
		max-width: 70vw;
		margin-left: auto;
		margin-right: auto;
		gap: 40px;
	}

	section{
		flex-direction: row; /* Stack children vertically */
		text-align: left;
		/* align-items: center; Align children center horizontally */
		justify-content: center;

	}
	.header {
		width: 50%;
		margin: 140px 0;
	}

	.guide {
		width: 50%;
		align-self: center;
	}

	form{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	#preview {
		border: 2px solid var(--primary); 
		margin: 0;
	}

}

/* Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font */

@keyframes spin {
	0% {
			transform: rotate(0deg);
	}
	100% {
			transform: rotate(360deg);
	}
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');
