html{
	height: 100vh; /* 전체 높이를 화면에 맞춤 */

}
body {
	padding: 16px; /* var(--font-size); */
	height: 100vh; /* 전체 높이를 화면에 맞춤 */
	display: flex;
	flex-direction: column; /* 수직 스택 */
	/* overflow-x: hidden; */

	background:#E9DFCF;/* var(--bg-color); */
}

.content-container {
	display: flex;
	flex: 1;
	flex-direction: column;
	flex-grow: 1;

	height: 100vh;

	position: static; /* 위치 고정 */
	bottom: 20px; /* 하단에서 20px 위에 위치 */
}

.header {
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
}

.footer {
	flex-shrink: 0; /* 이 요소는 축소되지 않음 */
	margin-top: auto; /* 나머지 공간을 모두 차지하도록 설정 */
	flex-direction: column; /* 내부 요소를 세로로 정렬 */
  justify-content: space-between; /* 내부 요소 사이에 공간을 균등하게 배분 */
}


/* image preview */
#preview {
	display: none; /* 초기에 숨겨진 상태 */
	width: auto; /* 너비 자동 조절 */
	height: 200px; /* 높이 설정 */
	margin: 20px auto; /* 상단 마진과 자동 좌우 마진 */
	border: 1px solid #ccc; /* 경계선 추가 */
	box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
}

/* Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&display=swap');
